* {
    font-family: Georgia, serif;
    font-size: medium;
    font-style: normal;
    color: rgb(90, 90, 90);
}
nav{
    position: fixed;
    top: 0;
    left: 0;
    translate: 0 -72px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    padding: 0 20px;
    width: 97%;
    height: 55px;
    box-shadow: 0 2px 2px;
    border-style: groove;
    color: rgb(0 0 0 / 5%);
    transition: 0.3s;
}
nav.visible{
    z-index:999;
    top: 0;
    translate: 0;
    background-color: white;
}
nav > img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
.nav-items{
    display: flex;
    align-items: center;
    gap: 16px;
}
.nav-items1{
    display: flex;
    width: max-content;
}
.nav-items > a{
    text-decoration: none;
    height: 72px;
    display: grid;
    place-items: center;
    font-style: oblique;
    color: deeppink;
    font-size: 25px;
    font-weight: bolder;
}
.nav-items1 button{
    border-radius: 30px;
    border-color: #dedbdb;
    height: 35px;
    width: 105px;
    max-width: max-content;
    flex: fit-content;
    display: flex;
    flex-direction: row;
    row-gap: 2px;
}
.nav-items1 button img{
    height: 20px;
    width: 30px;
    left: 0;
    line-height: 1.5;
    padding: 0 16px 0 25px;
    padding-right: 2px;
    padding-top: 4px;
    flex: fit-content;
}
.nav-items1 button a{
    padding-left: 1px;
    padding-top: 4px;
    flex: fit-content;
}
.buttons button{
    border-radius: 0;
    border-color: transparent;
}
.buttons{
    background: transparent;
    padding: 0;
    cursor: pointer;
    text-align: left;
}
.sidebar{
    position: fixed;
    top: 57px;
    left: 0;
    width: 270px;
    height: 100%;
    border-style: groove;
    color: white;
}
.sidebar button{
    position: relative;
    display: flex;
    gap: 40px;
    align-items: center;
    height: 43.5px;
    width: 100%;
    line-height: 1.5;
    padding: 0 16px 0 25px;
    transition: 0.25s;
    background-color: white;
}
button:hover {
    background-color: rgb(235, 231, 231);

  }
.sidebar button img{
    width: 25px;
}
.prf{
    position: relative;
    width: 265px;
    height: 155px;
    border-style: groove;
    border-top-color: transparent;
    border-right-color: transparent;
    border-left-color: transparent;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
img{
    width: 50px;
}

.prf img{
    width: 70px;
    height: 70px;
    padding-left: 100px;
    padding-top: 25px;
}
.body {
    position: relative;
    width: 900px;
    height: 1028px;
    margin-left: 0px;
    left: 0;
    padding-left: 235px;
}
.body div{
    margin: 0;
}
.inside{
justify-items: start;
margin-top: 70px;
margin-bottom: 70px;
}
h1{
    font-size:25px;
    margin-bottom: 40px;
    top: 75px;
    padding-left: 100px;
    margin-left: 0;
    margin-top: 80px;
    padding-right: 860px;
}
.content{
    padding-left: 80px;
}
.profile{
    justify-content: center;
    padding-right: 180px;
    padding-bottom: 60px;
}
.profile img{
    position: absolute;
    width: 120px;
    padding-right: 300px;
}
.profile button{
    position: absolute;
    border-color: transparent;
    width: 46px;
    background-color:rgb(224, 229, 230);
    border-radius: 50px;
    height: 46px;
    margin-top: 80px;
    margin-left: 80px;
}
.profile button img{
    width: 30px;

}
.profile div{
    padding-top: 170px;
    font-size: 20px;
    justify-content: center;
    padding-left: 120px;
}
.history{
    margin-top: 480px;
    border-style: groove;
    border-left: transparent;
    border-right: transparent;
    border-bottom: transparent;
    box-shadow: 0px 8px 0px 0px rgb(242, 240, 240);  
    padding-top: 20px; 
    padding-bottom: 20px; 
    display: flex;
    flex-direction: row;
}
.history1{
    display: flex;
    flex-direction: column;
    padding-left: 120px;
    gap: 10px
}
.history2{
    display: flex;
    flex-direction: column;
    padding-left: 220px;
    gap: 10px
}
.hist22 img{
    width: 18px;
}
.history3{
    display: flex;
    flex-direction: column;
    padding-left: 220px;
    gap: 10px
}
.badgbtn{
    display: flex;
    flex-direction: row;
}
.badge1 button{
    margin-left: 120px;
    height: 100px;
    width: 100px;
    display: flex;
    flex-direction: column;
    border-color: transparent;
    background-color: rgb(224, 229, 230);
    border-radius: 50px;
}
.badge1{
    margin-left: 120px;
}
.badge2 button{
    margin-left: 150px;
    height: 100px;
    width: 100px;
    display: flex;
    flex-direction: column;
    border-color: transparent;
    background-color: rgb(224, 229, 230);
    border-radius: 50px;
}
.badge3 button{
    margin-left: 150px;
    height: 100px;
    width: 100px;
    display: flex;
    flex-direction: column;
    border-color: transparent;
    background-color: rgb(224, 229, 230);
    border-radius: 50px;
}
h2{
    margin-bottom: 70px;
    top: 75px;
    padding-right: 800px;
    margin-top: 80px;
    font-size: 22px;
}
.acc{
    display: flex;
    gap: 300px;
}
.acc button{
    border-color: transparent;
    background-color: white; 
    padding-right: 300px;
}
.acc button img{
    width: 20px;
}
.info{

}
.ident{
padding-left: 40px
}
.ident1{
    display: flex;
    flex-direction: row;
    
}
.ident11{
    display: flex;
    flex-direction: column;
}
.ident1 img{
    width: 30px;
    padding-right: 100px;
    padding-bottom: 20px;
}
.email{
    display: flex;
}
.email img{
    width: 30px;
    padding-right: 100px;
    padding-bottom: 20px;
}
.phone{
    display: flex;
}
.phone img{
    width: 30px;
    padding-right: 100px;
}
.shortcut{
    display: flex;
    flex-direction: column;
    padding-right: 600px;

}
.home img{
    width: 30px;
}
.home button{
    border-color: transparent;
    background-color: white;
    padding-bottom: 23px;
}
.home button img{
    width: 20px
}
.work img{
    width: 30px;
}
.work button{
    border-color: transparent;
    background-color: white;
}
.work button img{
    width: 20px
}
.mode {
    padding-right: 300px;
}
input{
    appearance: none;
    border-radius: 50px;
    width: 2.5vw;
    height: 2.5vw;
    box-shadow: 0px 0px 5px #AAC5C6;
    border: 0.2vw solid rgb(128, 232, 234);
    background-color: #dedbdb;
    transition: 0.2s all linear;
    margin-right: 10px;
    position: relative;
    top: 4px;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
}
input:checked{
    border: 0.7vw solid#cdd5e3;
    background-color: rgb(56, 86, 92);
}