
.h2donate {
    font-size: 30px;
    margin-top: 5rem;
    margin-right: 23em;
}
hr{
    width: 100%;
    background: 1px solid white;
}

.container {
display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-content: flex-start;
    align-items: center;
    height: 100%;
    flex-direction: row;
    width: 600px;
    column-gap: 90px;
    margin-left:198px;
}

.avatar{
    height: 100px;
    width: 100px;
    border: 1px solid;
    border-radius: 50%;
    background-color: aliceblue; 
    background-size: cover;
    position: relative;

}
.organizations{
    flex-wrap: nowrap;
    align-items: flex-start;
    display: flex;
    align-content: flex-start;
    gap:100px;
    margin-bottom: 130px;
    margin-top: 15px;
}


h4{
    font-size: 11px;
    font-weight: bold;

    text-align:center;
    
}

.donate_slogan{
        display: flex;
            justify-content: flex-end;
            flex-wrap: nowrap;
            align-content: flex-start;
            flex-direction: column;
            align-items: flex-start;
            margin-left: 235px;
}

.charity-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
 
}

.charity-item {
    flex-basis: calc(33.33% - 20px);
    /* Adjust as needed for spacing */
    margin: 10px;
    /* Add margin as needed */
    text-align: center;
    
}





.charityName{
    height: 60px;
}
.donatebuttons{
        background-color: #EA4C89;
        border-radius: 8px;
        border-style: none;
        box-sizing: border-box;
        color: #FFFFFF;
        cursor: pointer;
        display: inline-block;
        font-size: 14px;
        font-weight: 500;
        height: 40px;
        line-height: 20px;
        list-style: none;
        margin-top: 6px;
        outline: none;
        padding: 10px 16px;
        position: relative;
        text-align: center;
        text-decoration: none;
        transition: color 100ms;
        vertical-align: baseline;
        user-select: none;
        -webkit-user-select: none;
        touch-action: manipulation;
    }

    .donatebuttons:hover,
    .donatebuttons:focus {
        background-color: #F082AC;
    }

.pdonate{

margin-bottom: 5px;
margin-top: -5px;


}
.selected_donations{

    border-color: #EA4C89;
    border-style:solid;
    border-radius: 8px;
    border-width: 1px;
    padding:24px;
    width:45%;
    margin-left:235px;
}
h3 {
    width: 18%;
    text-align: center;
    font-size: 18px;
    padding: 20px 0;
    font-weight: 500;
    line-height: 1.2rem;

}