.modal-overlay5 {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
}

.modal5 {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    z-index: 2;
    width: 300px;
    height: 400px;
}

.modal-header5 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.close-button5 {
    background-color: transparent;
    border: none;
    font-size: 24px;
    cursor: pointer;
}

.modal-body5 {
    margin-bottom: 20px;
}

#text5 {
    display: block;
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.redeem-button5 {
    display: block;
    background-color: deeppink;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 97px;
}

.modal-footer5 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
    border-top: 1px solid #ccc;
    margin-top: 20px;
}


.Payment5 {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    font-size: 18px;
    white-space: nowrap;
    margin-left: 10px;
}

.Payment5 h3::before {
    content: "\26A0";
    color: deeppink;
    display: inline-block;
    margin-right: 10px;
    font-size: 22px;
    white-space: nowrap;
    margin-bottom: 10px;
}

.HE5 {
    font-size: 12px;
    color: #777;
margin-top: 1px;
}
.scrollbar5 {
    max-height: 190px;
    overflow-y: auto;
    padding-right: 5px;
    background-color: #cccccc;
}