* {
    font-family: Georgia, serif;
    font-size: medium;
    font-style: normal;
    color: rgb(90, 90, 90);
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    translate: 0 -72px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    padding: 0 20px;
    width: 97%;
    height: 55px;
    box-shadow: 0 2px 2px;
    border-style: groove;
    color: rgb(0 0 0 / 5%);
    transition: 0.3s;
}

nav.visible {
    z-index:999;
    top: 0;
    translate: 0;
    background-color: white;
}

nav > img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.nav-items {
    display: flex;
    align-items: center;
    gap: 16px;
}

.nav-items1 {
    display: flex;
    width: max-content;
}

.nav-items > a {
    text-decoration: none;
    height: 72px;
    display: grid;
    place-items: center;
    font-style: oblique;
    color: deeppink;
    font-size: 25px;
    font-weight: bolder;
}

.nav-items1 button {
    border-radius: 30px;
    border-color: #dedbdb;
    height: 35px;
    width: 150px;
    max-width: max-content;
    flex: fit-content;
    display: flex;
    flex-direction: row;
    row-gap: 2px;
}

.nav-items1 button img {
    height: 20px;
    width: 30px;
    left: 0;
    line-height: 1.5;
    padding: 0 16px 0 25px;
    padding-right: 2px;
    padding-top: 4px;
    flex: fit-content;
}

.nav-items1 button a {
    padding-left: 1px;
    padding-top: 4px;
    flex: fit-content;
}

.dropdown-btn {
    border-radius: 0;
    border-color: transparent;
    width: 150px;
}

.dropdown-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.dropdown-btn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    border: none;
    border-radius: 8px;
    padding: 10px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

.dropdown-btn:hover {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}

.dropdown-btn img {
    width: 50px;
    height: 50px;
}

.dropdown-btn a {
    margin-top: 10px;
    font-size: 14px;
    color: black;
    text-align: center;
    text-decoration: none;
}

.menu-trigger img {
    position: absolute;
    top:8px;
    right: 20px;
    height: 40px;
    width:40px;
    border-radius:50%;
    overflow: hidden;
    cursor: pointer;
}

.dropdown-menu {
    position: absolute;
    top: 100px;
    right: 20px;
    background-color: lavenderblush;
    /*border-radius: var(--border-radius);*/
    padding: 10px 20px;
    width: 200px;
}

.dropdown-menu::before {
    content: '';
    position: absolute;
    top: -5px;
    right: 20px;
    height: 20px;
    width: 20px;
    /*background: var(--secondary-bg);*/
    transform: rotate(45deg);
}

.dropdown-menu.active {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
    /*transition: var(--speed) ease;*/
}

.dropdown-menu.inactive {
    opacity: 0;
    visibility: hidden;
    transform: translateY(-20px);
}

h3 {
    width: 100%;
    text-align: center;
    font-size: 18px;
    padding: 20px 0;
    font-weight: 500;
    /*color: var(--primary-text-color);*/
    line-height: 1.2rem;
}

h3 span {
    font-size: 14px;
    /*color: var(--secondary-text-color);*/
    font-weight: 400;
}

.dropdown-menu ul li {
    padding: 10px 0;
    border-top: 1px solid rgba(0, 0, 0, 0.05);
}

.dropdown-menu ul li:hover a {
    color: deeppink;
    cursor: pointer;
}

.dropdown-menu ul li:hover img {
    opacity: 1;
    cursor: pointer;
}
.dropdown-menu ul li {
    list-style: none;
}




.dropdownItem {
    display: flex;
    margin: 10px auto;
}

.dropdownItem img {
    max-width: 20px;
    margin-right: 10px;
    opacity: 0.5;
    /*transition: var(--speed);*/
}

.dropdown-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.dropdown-btn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    border: none;
    border-radius: 8px;
    padding: 10px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    width: 200px; /* set the width of the button */
}

.dropdown-btn:hover {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}

.dropdown-btn img {
    width: 50px;
    height: 50px;
}

.dropdown-btn a {
    margin-top: 10px;
    font-size: 14px;
    color: black;
    text-align: center;
    text-decoration: none;
}