.my-selector {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.html-tags {
  font-family: Georgia, serif;
  font-size: 15px;
  color: #0c0d10;
}

.body-log {
  min-height: 100vh;
}

.hone-h1 {
  font-family: Georgia, serif;
  color: #ff4081;
}

.main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 1rem 0.5rem;
}

.section-info {
  width: 100%;
  max-width: 420px;
  min-height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 1rem;
  background-color: rgba(0, 0, 0, 0.1);
}

.form-ls {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  flex-grow: 5;
  padding-bottom: 1rem;
}

.sign-link,
.sign-link:visited {
  color: #ff4081;
}

.textarea-text {
  font-family: "Nunito", sans-serif;
  font-size: 22px;
  padding: 0.25rem;
  border-radius: 0.5rem;
}

.inp-label {
  font-family: Georgia, serif;
  margin-top: 1rem;
  color: #0c0d10;
}
.validbtn {
  font-family: Georgia, serif;
  margin-top: 1rem;
  color: #0c0d10;
  background: #ff4081;
}

.validbtn {
  padding: 0.2rem;
}

.input-instructions {
  font-size: 0.75rem;
  border-radius: 0.5rem;
  background: #000;
  color: #fff;
  padding: 0.25rem;
  position: relative;
  bottom: -10px;
}

.input-instructions > svg {
  margin-right: 0.25rem;
}

.offscreen {
  position: absolute;
  left: -9999px;
}

.hide {
  display: none;
}

.valid-input {
  color: limegreen;
  margin-left: 0.25rem;
}

.invalid-input {
  color: red;
  margin-left: 0.25rem;
}

.error-message {
  background-color: lightpink;
  color: firebrick;
  font-weight: bold;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
}

.inline-element {
  display: inline-block;
}

#snackbar {
  visibility: hidden;
  min-width: 250px;
  margin-left: -125px;
  background-color: #333;
  color: #fff;
  text-align: center;
  border-radius: 2px;
  padding: 16px;
  position: fixed;
  z-index: 1;
  left: 50%;
  bottom: 30px;
  font-size: 17px;
}

#snackbar.show {
  visibility: visible;
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@-webkit-keyframes fadein {
  from {
    bottom: 0;
    opacity: 0;
  }
  to {
    bottom: 30px;
    opacity: 1;
  }
}

@keyframes fadein {
  from {
    bottom: 0;
    opacity: 0;
  }
  to {
    bottom: 30px;
    opacity: 1;
  }
}

@-webkit-keyframes fadeout {
  from {
    bottom: 30px;
    opacity: 1;
  }
  to {
    bottom: 0;
    opacity: 0;
  }
}

@keyframes fadeout {
  from {
    bottom: 30px;
    opacity: 1;
  }
  to {
    bottom: 0;
    opacity: 0;
  }
}
