* {
    font-family: Georgia, serif;
    font-size: medium;
    font-style: normal;
    color: rgb(90, 90, 90);
    padding: 0rem;
}
#root{
    max-width: 1280px;
    margin: 0 auto;
    padding: 0rem;
    text-align: center;
}
html body{
    gap:0;
}
nav{
    position: fixed;
    top: 0;
    left: 0;
    translate: 0 -72px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    padding: 0 20px;
    width: 97%;
    height: 55px;
    box-shadow: 0 2px 2px;
    border-style: groove;
    color: rgb(0 0 0 / 5%);
    transition: 0.3s;
    z-index:999;
}
nav.visible{
    z-index:999;
    top: 0;
    translate: 0;
    background-color: white;
}
nav > img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
.nav-items{
    display: flex;
    align-items: center;
    gap: 16px;
}
.nav-items1{
    display: flex;
    width: max-content;
}
.nav-items > a{
    text-decoration: none;
    height: 72px;
    display: grid;
    place-items: center;
    font-style: oblique;
    color: deeppink;
    font-size: 25px;
    font-weight: bolder;
}
.nav-items1 button{
    border-radius: 30px;
    border-color: #dedbdb;
    height: 35px;
    width: 105px;
    max-width: max-content;
    flex: fit-content;
    display: flex;
    flex-direction: row;
    row-gap: 2px;
}
.nav-items1 button img{
    height: 20px;
    width: 30px;
    left: 0;
    line-height: 1.5;
    padding: 0 16px 0 25px;
    padding-right: 2px;
    padding-top: 4px;
    flex: fit-content;
}
.nav-items1 button a{
    padding-left: 1px;
    padding-top: 4px;
    flex: fit-content;
}
.buttons button{
    border-radius: 0;
    border-color: transparent;
}
.buttons{
    background: transparent;
    padding: 0;
    cursor: pointer;
    text-align: left;
}
.sidebar{
    position: fixed;
    top: 57px;
    left: 0;
    width: 270px;
    height: 100%;
    border-style: groove;
    color: white;
}
.sidebar button{
    position: relative;
    display: flex;
    gap: 40px;
    align-items: center;
    height: 43.5px;
    width: 100%;
    line-height: 1.5;
    padding: 0 75px 0 25px;
    transition: 0.25s;
    background-color: white;
}
button:hover {
    background-color: rgb(235, 231, 231);
  }
.sidebar button img{
    width: 25px;
}
.prf{
    position: relative;
    width: 265px;
    height: 155px;
    border-style: groove;
    border-top-color: transparent;
    border-right-color: transparent;
    border-left-color: transparent;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
img{
    width: 50px;
}

.prf img{
    width: 70px;
    height: 70px;
    padding-left: 100px;
    padding-top: 25px;
}
/*lejla's css*/
.containerlejla {
    display: flex;
        justify-content: space-around;
        flex-wrap: nowrap;
        align-items: start;
        height: 100%;
        column-gap: 90px;
        margin-left: 235px;
        flex-direction: column;
}

.h2rides {
    font-size: 30px;
    margin-top: 5rem;
    margin-right: 23em;
}

.rides_slogan {
    display: flex;
    justify-content: flex-end;
    flex-wrap: nowrap;
    align-content: flex-start;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 235px;
}

.ride-history {
    font-size: 20px;
    margin-top: 10px;
}


.bloc-tabs {
    display: flex;
    flex-wrap: nowrap;
    align-items: flex-start;
    justify-content: flex-end;
    align-content: flex-start;
}

.tabs {

    padding: 20px;
    text-align: center;
    width: 674px;
    background: white;
    border-bottom: 1px solid #F082AC;
    box-sizing: content-box;
    position: relative;
    outline: none;
    margin-top: 30px;
    border-radius: 0;
}



.active-tabs {
    background: white;
    border-bottom: 1px solid transparent;
    position: relative;
}

.active-tabs::before {
    content: "";
    display: block;
    position: absolute;
    bottom: -1px;
    left: 50%;
    transform: translateX(-50%);
    width: calc(100% + 2px);
    height: 3px;
    background: #F082AC;
}



button {
    border: none;

}

.rides-content-tabs {
    flex-grow: 1;
}

.rides-content {
    background: white;
    padding: 20px;
    width: 100%;
    height: 100%;
    width: 139%;
    display: none;
}

.rides-content h2 {
    padding: 0px 0 5px 0px;
}

.rides-content p {
    width: 100%;
    height: 100%;
}

.active-rides-content {
    display: block;
}


.tabs:hover {
    background-color: white;
    border-bottom: #FFFFFF;
}

.tabs:focus {
    background-color: white;

}

/* button:focus,
button:focus-visible {
    outline: none
} */